.page{
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    padding:20px;
    display:flex; 
    gap: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.postpage{ 
    display: flex;
justify-content: center;
max-width: 900px;
margin-bottom: 20px;
    } 

.container{
            display: table;
        }

.post {
width: 550px;
border-right: 1px rgb(204, 204, 204) solid ;
padding-right: 20px;

}

.title{
    font-size: x-large;
    font-weight: 800;
}
.image {
max-width:550px;
margin-top:10px
}

.post_text {
    font-size:15px;
}
.date {
font-size: x-small;
color: grey;
margin: 0%;
}

.author {
    color:blue;
    font-weight: 600;
    display: flex;
    margin: 5px;
}

.author_name{
font-size: small;
margin:0%;
cursor: pointer;
}

.post{
    max-width: 70%;
}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
button {
    background-color: inherit;
    padding:7px;
    font-size: small;
    margin:5px;
    max-width: 150px;
    border: 1px rgb(188, 186, 186) solid;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    color:inherit
}

button:hover {
    color: blue;
    border-color: blue;
}

input{
    width: 100%;
    height: 20px;
    font-family: inherit;
    padding: 3px;
    background-color: inherit;
    color: inherit;

    border-radius:5px;
    border: 1px black solid;

}
input:focus{
    outline-color:blue;
}

.back{
    width: 70px;
    margin-top: 10px;

}

.comments{
    max-width: 200px;
    word-break:break-all;
}