.postlist{
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    width: auto;
    

}


.numButton {
    padding:20px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    cursor: pointer;
}

.postContainer{
    display: flex;
    justify-content: center;
}
.buttonBlock{
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
}

.select{
    max-width: 900px;
    display:flex;
justify-content: flex-end;
margin-bottom: 10px;
}
select:focus{
    outline-color: blue;
}
select{
    height:30px;
    cursor: pointer
}
.filter{
    display: flex;
    justify-content: flex-end;
}
.link{font-size: medium;
    margin-top: 5px;
    color: blue;
    font-weight: 700;
    opacity: 65%;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s;
}
.link:hover{
    opacity: 100%;
}

.badreq{
    width: 800px;
    height: 23vh;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    font-weight: 800;
margin:40px 0px 40px 0px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loader-02 {
	border: .2em solid transparent;
	border-left-color: currentcolor;
	border-right-color: currentcolor;
	border-radius: 50%;
	animation: 1s loader-02 linear infinite;
}

@keyframes loader-02 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}