.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px grey solid;
}

.logo {
  font-size: large;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0%;
  transition: 0.5s;
  cursor: pointer;
}

.logo:hover {
  color: blue;
}

.links button {
  border: none;
  background-color: white;
  color: blue;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin-left: 15px;
}
