.header {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px grey solid;
  padding:10px;
  height:45px;
  background: linear-gradient(rgb(0, 22, 223), rgb(0, 192, 144));
  
}

.logo {
  font-size: large;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0%;
  transition: 0.5s;
  cursor: pointer;
}

.logo:hover {
  color: blue;
}

.links button {
  border: 1px rgb(188, 186, 186) solid;
  background-color: white;
  color: blue;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin-left: 15px;
}

.links button:hover {
  color: blue;
  border-color: blue;
}
.user img{
  width: 42px;
  height: 42px;
  border-radius: 50%;

}
.user{
  width: fit-content;
  display: flex;
  cursor: pointer;
background-color: rgb(255, 255, 255);
border-radius: 42px;
transition: 0.5s linear;
padding:5px 5px 5px 10px

}

.user:hover{
  background-color: rgb(199, 205, 255);
  }

.userInfo{
  margin:5px
}

h1{
  font-family:cursive;
  font-weight: 900;
}
label{
  width:70px;
  font-size: x-small;
}

.createBut{
  font-size: xx-large;
  border-radius: 25px;
  color: grey;
}
.createBut:hover{
  color:blue;
}
/* .textfield{
  display: flex;
  align-items: center;
  width:650px
} */



.search {
	display: flex;
	align-items: center;
	position: relative;
	/* flex: 1; */
  width: 650px;
}

.search__input {
	width: 100%;
	border-radius: 24px;
	border: 1px solid transparent;
	outline: none;
	padding: 13px 20px;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	caret-color: #2e08b8;
}
.search__input:focus {
	background: #FFFFFF;
	border: 1px solid #2f00fe;
}

.search__input::placeholder {
	color: #7b8e98;
}

.search__btn {
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 5px;
	
}
.search__btn svg {
	fill: #7B8E98;
}
.search__btn_disabled svg {
	fill: #CFD8DC;
}
.search__btn:focus svg{
	fill: #100cfe;
}
.search__btn:hover svg{
	fill: #240cfe;
}