.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px grey solid;
  padding:10px;
  height:40px
}

.logo {
  font-size: large;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0%;
  transition: 0.5s;
  cursor: pointer;
}

.logo:hover {
  color: blue;
}

.links button {
  border: 1px rgb(188, 186, 186) solid;
  background-color: white;
  color: blue;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin-left: 15px;
}

.links button:hover {
  color: blue;
  border-color: blue;
}
.user img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}
.user{
  display: flex;
  cursor: pointer;
background-color: rgb(255, 255, 255);
padding: 7px;
border-radius: 20px;
}
.user:hover{
  background-color: rgb(199, 205, 255);
}
.userInfo{
  margin-top: 5px;
}
h1{
  font-family:cursive;
  font-weight: 900;
}