.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px grey solid;
  padding:10px;
  height:45px
}

.logo {
  font-size: large;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0%;
  transition: 0.5s;
  cursor: pointer;
}

.logo:hover {
  color: blue;
}

.links button {
  border: 1px rgb(188, 186, 186) solid;
  background-color: white;
  color: blue;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin-left: 15px;
}

.links button:hover {
  color: blue;
  border-color: blue;
}
.user img{
  width: 42px;
  height: 42px;
  border-radius: 50%;

}
.user{
  width: fit-content;
  display: flex;
  cursor: pointer;
background-color: rgb(255, 255, 255);
border-radius: 42px;
transition: 0.5s linear;
padding:5px 5px 5px 10px

}

.user:hover{
  background-color: rgb(199, 205, 255);
  }

.userInfo{
  margin:5px
}

h1{
  font-family:cursive;
  font-weight: 900;
}
label{
  width:70px;
  font-size: x-small;
}

.createBut{
  font-size: xx-large;
  border-radius: 25px;
  color: grey;
}
.createBut:hover{
  color:blue;
}
.textfield{
  width:650px
}