.greeting {
    display:flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-around;
    align-items: center;
    height:150px;
    width: 950px;
    background-color: rgb(199, 205, 255);
border-radius: 50px;
}


.greetingCont{
    display: flex;
    justify-content: center;
    margin: 20px;
}
