.edit {
    display: flex;
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.edit input {
    width: 500px;
    border: 1px rgb(188, 186, 186) solid;
    transition: 0.5s;

}

.edit input:hover {
    
    border-color: blue;
}

.edit div {

    display: flex;
    flex-direction: column;

}
.cardedit{
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    margin:20px;
    padding: 20px;
}
.edit button {
    text-align: center;
    margin:30px;
}